#puzzle-3 {

  .block {
    width: 190px;
    height: 190px;
    background-color: orange;
    margin: 0px;
  }

  .block.block-1 {
    background-color: cyan;
  }

  .block.block-white {
    background-color: #fff;
  }
}